<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    body {
        background-color: #5688C7;
        color: #470024;
    }
    a {
        color: #470024;
    }
    a:visited {
        color: #5B1865;
    }
    a:hover {
        color: #C75146;
    }
    h1 {
        margin: 0 auto;
        justify-self: center;
        border-bottom: #470024 solid 2px;
    }
    .container, .menu-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav {
        justify-self: center;
        margin-bottom: 10px;
    }
  </style>
  <title><%= name %></title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1><%= name %></h1>

  <% menuItems.forEach((item) => { %>
        <div class="menu-card">
            <h3><%= item.name %> <%= item.rating === 5 ? "â­" : '' %></h3>
            <p>price: <%= item.price %></p>
            <p>rating: <%= item.rating %></p>
            <p><%= item.details %></p>
        </div>
  <% }) %>

</body>
</html>
