<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    body {
        background-color: #5688C7;
        color: #470024;
    }
    a {
        color: #470024;
    }
    a:visited {
        color: #5B1865;
    }
    a:hover {
        color: #C75146;
    }
    h1, h2 {
        margin: 0 auto;
        justify-self: center;
    }

    h2 {
        border-bottom: #251101 solid 2px;
    }
    .container, .menu-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav {
        justify-self: center;
        margin-bottom: 10px;
    }
  </style>
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Full Menu</h1>

  <h2 id="mains">Mains</h2>

  <% menu.forEach((item) => { %>
    <% if (item.category === 'mains') {%>
        <div class="menu-card">
            <h3><%= item.name %> <%= item.rating === 5 ? "⭐" : '' %></h3>
            <p>price: <%= item.price %></p>
            <p>rating: <%= item.rating %></p>
            <p><%= item.details %></p>
        </div>
    <% }else {%>
        <% return %>
    <% } %>
  <% }) %>

  <h2 id="sides">Sides</h2>

  <% menu.forEach((item) => { %>
    <% if (item.category === 'sides') {%>
        <div class="menu-card">
            <h3><%= item.name %> <%= item.rating === 5 ? "⭐" : '' %></h3>
            <p>price: <%= item.price %></p>
            <p>rating: <%= item.rating %></p>
            <p><%= item.details %></p>
        </div>
    <% }else {%>
        <% return %>
    <% } %>
  <% }) %>


  <h2 id="desserts">Desserts</h2>

  <% menu.forEach((item) => { %>
    <% if (item.category === 'desserts') {%>
        <div class="menu-card">
            <h3><%= item.name %> <%= item.rating === 5 ? "⭐" : '' %></h3>
            <p>price: <%= item.price %></p>
            <p>rating: <%= item.rating %></p>
            <p><%= item.details %></p>
        </div>
    <% }else {%>
        <% return %>
    <% } %>
  <% }) %>


</body>
</html>
